.outline-purple {
    color: purple !important;
    border-color: purple !important;
    background-color: white !important;
}

.outline-purple:hover {
    color: white !important;
    background-color: purple !important;
    border-color: purple !important;
}

.outline-purple:focus, .outline-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(119, 6, 163, 0.5) !important;
}

.btn-purple {
    color: white !important;
    border-color: purple !important;
    background-color: purple !important;
}

.btn-purple:hover {
    color: white !important;
    border-color: purple !important;
    background-color: rgb(116, 17, 116) !important;
}

.btn-purple:focus, .btn-purple.focus {
    box-shadow: 0 0 0 0.2rem rgba(119, 6, 163, 0.5) !important;
}

.table-header {
    color: purple;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: purple;
}

.show-button:hover {
    border-color: purple;
}

.filter-container {
    padding-bottom: 0px;
}

.underlinable-text {
    color: purple;
    cursor: pointer;
}

.underlinable-text:hover {
    text-decoration: underline;
}